* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #1f2937;
    padding: 10px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.header nav ul li {
    margin: 10px;
}

.header nav ul li a {
    color: #f9faf8;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #1f2937;
    padding: 50px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
}

.hero-image img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.random-information {
    padding-top: 30px;
    padding-bottom: 100px;
}

.random-information .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.random-information--content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.random-information--content .card {
    width: 150px;
    height: auto;
    text-align: center;
}

.random-information--content .card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote {
    padding: 50px;
    background-color: #e5e7eb;
}

.quote .container p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: justify;
    color: #1f2937;
    font-style: italic;
}

.quote .container cite {
    font-size: 30px;
    font-weight: 100;
}

.quote .container p small {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 20px;
}

.call-to-action {
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-to-action .container {
    background-color: #3882f6;
    padding: 20px 100px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
}

.call-to-action .container button {
    background-color: transparent;
    border: 2px solid #f9faf8;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
    color: #f9faf8;
    height: fit-content;
    flex-shrink: 0;
}

.footer {
    background-color: #1f2937;
    padding: 20px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}
