body {
    font-family: Roboto, sans-serif;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    background-color: #1F2937;
    
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {

}

.footer {
    background-color: #1F2937;
}